@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--oswald-font);
}
body{
    height: 100%;
    background-image: url('/src/bar-bg.jpeg');
    background-size: cover;
}
:root{
    --soft-black:rgb(32, 32, 32);
    --logo-font: 'Anton', sans-serif;
    --oswald-font:'Oswald', sans-serif;
}
#wrapper{

    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas: 
    'logo navbar'
    'pageContent pageContent';
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto 1fr;
}
/* Header Content */
.logo{
    grid-area: logo;
    font-size: 3rem;
    font-family: var(--logo-font);
    font-weight: 600;
    padding-left: 25px;
    background-color: white;
    border-bottom: 1px solid black;
}
.navbar{
    grid-area: navbar;
    display:grid;
    grid-template-columns: repeat(3, 1fr);

}
.navlink{
    font-size: 1.6rem;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    color: black;
    border-bottom: 1px solid black;
    font-family: var(--logo-font);
}
.navlink:hover{
    background-color: rgba(255, 255, 255, 0.418);
}
.navlink.active{
    background-color: rgba(255, 255, 255, 0.418);
    color: black;
    font-size: 1.8rem;
    border-bottom: none;
    -webkit-text-stroke: 1px white;
}
.navlink.contact-link{
    padding-right: 20px;
}
/* End Header Content */
/* Main Content  */
.page-content{
    grid-area: pageContent;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    background-color: white;
    width: 80vw;
    margin: 3% auto;
    padding-top: 10px;
    border: 3px solid var(--soft-black);
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
/* Hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    font-size: 3rem;
    font-weight: 600;
    line-height: .9;
}
.hero p{
    width: 50%;
    text-align: end;
    padding-right: 20px;
}
.hero img{
    width: 25vw;
    height: auto;
    border: 2px solid #6B4B4B;
    border-radius: 50%;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: lightgray;
    margin: 20px 0px 0px;
    padding: 30px 30px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.about-us h1{
    font-size: 4rem;
    font-weight: 700;
}
.location{
    position:initial;
    display: flex;
    background-color:  #6B4B4B;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.location iframe{
    height: 300px;
    border: 1px solid var(--soft-black);
    margin-left: 10px;
}
